:root {
    --clr-error: red;
    --clr-success: green;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: .5em 1em;
    /* box-shadow: 10 10 0 solid red; */
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
}

#regForm {
    
}
.prime-header {
    color: lightblue;
    text-align: center;
}

.form-content {
    max-width: 20rem;
    /* display: flex;
    flex-direction: column; */
}
.input-group {
    padding: .5rem 2rem ;
    position: relative;
}

.input-group .form-control, 
.input-group .invalid-input {
    display: block;
    width: 100%;
}

/* .input-group .form-control:focus {
    outline: 1px solid ;
} */

.input-group .invalid-input {
    color: var(--clr-error);
    display: none;
}
.is-invalid .form-control {
    border: 1px solid var(--clr-error);
    outline: 1px solid var(--clr-error);
}
.is-invalid .invalid-input {
    display: block;
}
.is-valid .form-control {
    border: 1px solid var(--clr-success);
    outline: 1px solid var(--clr-success);
}